/* styles.css */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;

  background:
    radial-gradient(circle at top left, rgba(124, 77, 255, 0.18), transparent 30%),
    radial-gradient(circle at bottom right, rgba(33, 150, 243, 0.14), transparent 35%),
    linear-gradient(to bottom, #f8f9ff, #eef3ff);

  color: #1d1d1d;
}

/* styles.css */

.cdk-overlay-pane .mat-mdc-select-panel {
  background: #ffffff !important;

  border-radius: 14px !important;

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.14) !important;
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(6px);
}

.mat-mdc-option {
  background: white !important;
}

.mat-mdc-option:hover {
  background: rgba(124, 77, 255, 0.08) !important;
}